{%- extends "layout.html" %}
{%- block content %}
<div class="container2">
    <div style="height: 8vh; width: 100vw;"></div>
    <div class="main-box1">
        経過時間<span id="timer">00:00.00</span>
    </div>
    <div id="imageArea">
        <img src="../static/image/offla-hide.png" id="hideImage">
    </div>
</div>
<audio id="sound-file1" preload="auto">
	<source src="../static/sounds/Quiz-Correct_Answer02-3.mp3" type="audio/mp3">
</audio>
<audio id="sound-file2" preload="auto">
	<source src="../static/sounds/Quiz-Wrong_Buzzer02-3.mp3" type="audio/mp3">
</audio>
<div class="main-modal-mask"></div>
<div class="main-offla-icon">
  <img src="../static/image/offla_icon.jpg" alt="ohura">
  <p style="font-size: 25px; color: #fff;">オフラ</p>
</div>
<script src="../static/js/touch.js"></script>
<script src="../static/js/sound.js"></script>
<script src="../static/js/stopwatch.js"></script>
<script>
    let answer_area_x = {{ answer_area_x | tojson }};
    let answer_area_y = {{ answer_area_y | tojson }};
</script>
  <!-- <div class="minicontainer">
    <div class="main-box2">READY</div>
    <div class="main-box3">START</div>
    <div class="main-box4">FINISH</div>
  </div> -->
{%- endblock %}